.wrapper {
	margin: 1em auto;
	max-width: 800px;
	width: 95%;
	font: 18px/1.5 sans-serif;
}
.wrapper code {
	background: #F5F5F5;
	padding: 2px 6px;
}

.parent-div {
	display: inline-block;
	position: relative;
	overflow: hidden;
}

.parent-div input[type=file] {
	left: 0;
	top: 0;
	opacity: 0;
	position: absolute;
	font-size: 90px;
}

.btn-upload{
	background-color: #fff;
	border: 3px solid #000;
	color: #000;
	padding: 10px 25px;
	border-radius: 10px;
}

.nav-wrapper, .btn{
	background-color: #d1cfab;
}

.nav-wrapper{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.btn{
	border-radius: 10px;
}

.alert.alert-success{
	color: green;
	font-size: 16px;
	text-align: center;
	margin-top: 10px;
}

ul:not(.browser-default)>li, .msg-error {
	list-style-type: none;
	font-size: 12px;
	color: red;
}