{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Import Excel{% endblock %}

{% block content %}

<div class="wrapper">

        <div class="container container-fluid">
            <div class="row">
                <div class="col-lg-8">
                    {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
                    <div class="form-group parent-div">
                        <button class="btn-upload">Choisir le fichier</button>
                        {{ form_label(form.upload_file) }}
                        {{ form_widget(form.upload_file) }}
                        {{ form_errors(form.upload_file) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.send, {'label': "Uploader le fichier", 'attr' : { 'class': 'btn btn-primary' }}) }}
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error-msg') %}
                        <div class="msg-error">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>
{% endblock %}
